@media only screen and ( max-width: 400px ) {
    .tabs li {
        display: block;
    }
    }

  @font-face {
    font-family: Aleo-Bold;
    src: url(aleoFonts/Aleo-Bold.otf);
}
  @font-face {
    font-family: Aleo-Light;
    src: url(aleoFonts/Aleo-Light.otf);
  }
  @font-face {
    font-family: Aleo-Regular;
    src: url(aleoFonts/Aleo-Regular.otf);
  }

.container{
    width: 65%;
    margin: 0 auto;
}

  h2 {
    font-family: Aleo-Bold;
  }
.tabs{
    margin: 0px;
    padding: 0px;
    list-style: none;
    background:#232C33;
    border-bottom: 5px #CA021C solid;
}
.tabs li{
    display: inline-block;
    margin:0;
    padding: 10px 20px 5px 20px;
    cursor: pointer;
    font-family: Aleo-Regular;
    font-size:1.0em;
    line-height:2em;
    color:#FFF;
}
.tabs li:hover {
    background:#800001;
    }
.tabs li.current{
    background: #CA021C;
    color: #FFF;
}
.tab-content{
    display: none;
    background: #DADFF7;
    padding: 15px;
    font-family: Aleo-Light;
    font-size:1.0em;
    line-height:1.4;

}
.tab-content.current{
    display: inherit;
}

/*start styles for image slider*/
#containerTwo {
    margin:25px auto;
    padding:10px;
    width:700px;
    border:1px solid #ccc;
    }
#slider {
    display:block;
    width:100%;
    height:300px;
    padding:0;
    margin:0 0 10px;
    overflow:hidden;
    }
#prev, #next {
    bottom:0;
    display:block;
    width:100px;
    background-color:#00ABFF;
    padding:5px;
    border:none;
    font-size:17px;
    color:#fff;
    }
#prev {
    float:left;
    }
#next {
    float:right;
    }
